body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

canvas {
	border: black solid 1px;
}

#container.col {
	float: left;	
	border: black solid 2px;
}

select {
	display: block;
}
