body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("/images/contemporary_china.png");
}

h1 {
	color: green;
	font-size: 300%;
	margin-top: 0px;
}

a {
  color: #00B7FF;
}

canvas {
	border: black solid 1px;
	background-color: white;

}

#container.col {
	float: left;	
	border: black solid 2px;
	width: 65px;
	height: 700px;
	padding: .5em;
	text-align: center;
	background-color: #F5F5F5;

}
.select-style{
	padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    width: 120px;
    border-radius: 3px;
    overflow: hidden;
    background-color: #fff;

    background: #fff url("http://www.scottgood.com/jsg/blog.nsf/images/arrowdown.gif") no-repeat 90% 50%;
}
select {

	display: block;

	padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}
select option span {
	padding: 2em 0;
}

select#color option[value="red"] { background-image:url(/images/pen.png);}

#black {
	background-color: black;
}
#red {
	background-color: red;
}
#orange {
	background-color: orange;
}
#yellow {
	background-color: yellow;
}
#green {
	background-color: green;
}
#blue {
	background-color: blue;
}
#purple {
	background-color: purple;
}

.color {
	height: 44px;
	width: 44px;
	border-radius: 10px;
	margin: 5px;
	display: inline-block;
}
.size {
	padding: 5px;
	border-radius: 10px;
	width: 44px;
	margin: auto;
}


#pen, #eraser {
	padding: 5px;
	overflow: hidden;
}
#pen img, #eraser img {
	width: 54px;
}






