doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/socket.io/socket.io.js")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
    script(src="/javascripts/socket.js")
    script(src="/javascripts/paper-core.min.js")
    script(src="/javascripts/paper-full.min.js")
  body
    h1 Drawing Buddies
    block content
    <!-- The tool container -->
    #container.col
        div#tool
            #pen
                img(src="/images/pen.png" alt="pen")
            #eraser
                img(src="/images/rubber.png" alt="eraser")  

        div
            div#black.color
            div#red.color
            div#orange.color
            div#yellow.color
            div#green.color
            div#blue.color
            div#purple.color

        div
            #sm.size
                img(src="/images/circle.png" alt="small" style="max-height: 10px; max-width: 10px;")
            #md.size
                img(src="/images/circle.png" alt="medium" style="max-height: 20px; max-width: 20px;")
            #lg.size
                img(src="/images/circle.png" alt="large" style="max-height: 30px; max-width: 30px;")


        

