doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/socket.io/socket.io.js")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
    script(src="/javascripts/socket.js")
    script(src="/javascripts/paper-core.min.js")
    script(src="/javascripts/paper-full.min.js")
    script(src="/javascripts/simulate_bot.js")
  body
    h1 Drawing Buddies
    block content
    <!-- The tool container -->
    #container
        div#tool
            #pen
                img(src="/images/pen.png" alt="pen" style="max-height: 50px; max-width: 50px;")
            #eraser
                img(src="/images/rubber.png" alt="eraser" style="max-height: 50px; max-width: 50px;")
            #circle
                img(src="/images/UnfilledCircle.png" alt="circle" style="max-height: 50px; max-width: 50px;")
            #triangle 
                img(src="/images/triangle.png" alt="triangle" style="max-height: 50px; max-width: 50px;")
            #rectangle
                img(src="/images/rectangle.png" alt="circle" style="max-height: 50px; max-width: 50px;")
            #fbicon
                img(src="/images/fbicon.png" alt="fb_logo_sticker" style="max-height: 50px; max-width: 50px;")
            #smiley
                img(src="/images/smiley.png" alt="smiley" style="max-height: 50px; max-width: 50px;")
            #sm.size
                img(src="/images/circle.png" alt="small" style="max-height: 10px; max-width: 10px;")
            #md.size
                img(src="/images/circle.png" alt="medium" style="max-height: 20px; max-width: 20px;")
            #lg.size
                img(src="/images/circle.png" alt="large" style="max-height: 30px; max-width: 30px;")
    #container
        div#color
            div#black.color
            div#red.color
            div#orange.color
            div#yellow.color
            div#green.color
            div#blue.color
            div#purple.color

            


        

