doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/socket.io/socket.io.js")
    script(src="/javascripts/socket.js")
    script(src="/javascripts/paper-core.min.js")
    script(src="/javascripts/paper-full.min.js")
  body
    h1 Drawing Buddies
    block content
    <!-- The tool container -->
    #container.col
        div#tool
            input(type='radio', name='tool', value='pen', checked)
            | Pen

            input(type='radio', name='tool', value='eraser')
            | Eraser

        .select-style
            select#color
                - list = ["red", "orange", "yellow", "green", "blue", "purple", "black"]
                each item in list
                    option= item
        .select-style
            select#size
                - list = ["sm", "md", "lg"]
                each item in list
                    option= item


